.admin-add-user {
  padding: 20px;
}
/* General styling */
.listContainer {
  padding: 20px;
  width: 100%;
}

.listTableTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchAndFilterIcons img {
  margin-left: 10px;
  cursor: pointer;
}

.adminListTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.adminListTable tr:hover {
  background-color: #ddd;
}

.listTableHeader th {
  background-color: #f2f2f2;
  padding: 15px;
  text-align: left;
}

.listTableBody td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.viewColumn img {
  cursor: pointer;
}

.addGameBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Popup form styling */
.popupForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupFormContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  position: relative;
  text-align: start;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.popupForm form {
  display: flex;
  flex-direction: column;
}

.popupForm form label {
  margin: 10px 0 5px;
}

.popupForm form input,
.popupForm form select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.popupForm form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.Delete-user{
  cursor: pointer;
}

/* dialog box css */
.confirmDeleteDialog {
  /* height: 400px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmDeleteDialogContent {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.dialogButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.deleteBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cancelBtn {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
